<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL shortener microservice</title>
    <link href="/public/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <h1>URL shortener microservice API</h1>
    </header>
    <main>
        <section>
            <form action="api/shorturl" method="POST">
                <fieldset>
                    <legend>URL Shortener</legend>
                    <label for="url_input">URL:</label>
                    <input id="url_input" type="text" name="url" placeholder="https://www.website.com" />
                    <input type="submit" value="POST URL">
                </fieldset>
            </form>
            <div class="api-link">
            <fieldset>
                <legend class="copy-paste-api-lengend"> Embed API link: </legend>
                <div class="copy-paste-api">
                    <p class="api-link-title">API Link: <a href="https://backend-microservice-urlshortener.onrender.com/">https://backend-microservice-urlshortener.onrender.com/</a></p>
                </div>
            </fieldset>
            <fieldset>
                <legend class="api-all-documents"> Array of all URLS in Database:</legend>
                <div class="all-documents-api">
                    <p class="all-api-link-title"><a href="https://backend-microservice-urlshortener.onrender.com/api/getALL" class="all-api-link-title-paragraph">https://backend-microservice-urlshortener.onrender.com/api/getALL</a></p>
                    
                    <div class="code">
                        <code> 
                            API Structure: <br />
                            [{_id:"",
                                url:"https://www.website.com"
                                short_url: 0
                            }]
                        </code>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend class="fullstack-api"> Fullstack App API Integration: </legend>
                <div class="fullstack-api-div">
                    <p class="api-link-title"><a href="https://frontend-microservice-urlshortnener.onrender.com/">https://frontend-microservice-urlshortnener.onrender.com/</a></p>
                </div>
            </fieldset>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>