body {
    font-family: "Arial";
    margin: 10px;
    text-align: center;
    line-height: 1.4em;
}

main {
    padding: 0;
    margin-top: 40px;
}


h1 {
    color: rgba(4, 16, 240, 0.717);
}

fieldset {
    border-color: rgba(1, 150, 78, 0.15);
    border-radius: 8px;
    background-color: rgba(107, 235, 107, 0.185);
}

form {
    margin: 0px auto;
    padding: 20px;
    max-width: 570px;
    font-weight: 700;
}

.copy-paste-api-lengend {
    display: flexbox;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    max-width: 570px;
}

.api-link {
    margin: 0px auto;
    padding: 20px;
    max-width: 570px;
}


.copy-paste-api {
    max-width: 570px;
    
}

.api-all-documents {
    display: flexbox;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    max-width: 570px;
   
}

.api-link-title {
    border: solid 1px;
    border-radius: 7px;
    border-color: rgb(0, 21, 255);
    font-family: "Arial";
    font-weight: 700;
    background-color: white;
    padding: 10px;
}

.all-api-link-title {
    border: solid 1px;
    border-radius: 7px;
    border-color: rgb(0, 21, 255); ;
    font-family: "Arial";
    font-weight: 700;
    background-color: white;
    padding: 10px;

}

/* .all-api-link-title-paragraph {
   
} */

label {
    margin-right: 10px;
    font-weight: 700;
}

input[type='text'] {
    width: 220px;
    text-align: center;
}

input[type="submit"] {
    background-color: rgb(255, 255, 255);
    color: black;
    font: "Arial";
    border: 1px solid black;
}

.code {
    background-color: white;
    padding: 10px;
}