body {
    font-family: "Arial";
    margin: 10px;
    text-align: center;
    line-height: 1.4em;
}

main {
    padding: 0;
    margin-top: 40px;
}

h1 {
    color: rgba(4, 16, 240, 0.717);
}

fieldset {
    border-color: rgba(1, 150, 78, 0.589);
    border-radius: 8px;
    background-color: rgba(107, 235, 107, 0.185);
}

form {
    margin: 0px auto;
    padding: 20px;
    max-width: 600px;
}

label {
    margin-right: 10px;
    
}

input[type='text'] {
    width: 220px;
    text-align: center;
}

input[type="submit"] {
    background-color: rgb(255, 255, 255);
    color: black;
    font: "Arial";
}